{{/*
	Trigger Type: Interval 1h (for smaller servers 24h is also fine)

	Copyright: 2020 Black Wolf
	License: MIT
	Repository: https://github.com/BlackWolfWoof/yagpdb-cc/
*/}}

{{$a := sdict}}{{with dbGet 2000 "snippetstats"}}{{$a = sdict .Value}}{{end}}
{{$ctime := currentTime}}
{{- range $name, $value := $a}}
	{{- $channelid := $name}}
	{{- range $name, $value := $value}}
		{{- if $value.ExpiresAt.Before $ctime}}
			{{- $channel := sdict}}{{with $a.Get $channelid}}{{$channel = sdict .}}{{end}}
			{{- $channel.Del $name}}
			{{- $a.Set $channelid $channel}}
		{{- end}}
	{{- end}}
{{- end}}
{{dbSet 2000 "snippetstats" $a}}