{{/*
	Trigger: snowflake
	Trigger Type: Command

	Usage:
	snowflake ID/Mention
	snowflake ID/mention ID/mention

	Need help or you found a bug? Join https://discord.gg/GRns3fg or report it on GitHub.

	Copyright: 2020 TheHDCrafter
	License: MIT
	Repository: https://github.com/TheHDCrafter/yagpdb-cc/
*/}}

{{$prefix := index (reFindAllSubmatches `Prefix of \x60\d+\x60: \x60(.+)\x60` (exec "prefix")) 0 1}}
{{$args := parseArgs 1 (print $prefix "snowflake <ID> <ID (optional)>")
	(carg "userid" "snowflake1")
	(carg "userid" "snowflake2")}}
{{$first := div ($args.Get 0) 4194304 | mult 1000000 | toDuration}}
{{$second := div ($args.Get 1) 4194304 | mult 1000000 | toDuration}}
{{if not ($args.Get 1)}}
{{sendMessage nil (cembed
	"title" "Snowflake 2 Timestamp"
	"fields" (cslice (sdict "name" "How long ago the snowflake was created" "value" (humanizeDurationSeconds (currentTime.Sub ($first | .DiscordEpoch.Add))) "inline" true))
	"footer" (sdict "text" "Date of the snowflake")
	"color" 0xffff00
	"timestamp" ($first | .DiscordEpoch.Add))}}
{{else}}
	{{$smaller := $first}}
	{{$bigger := $second}}
	{{if gt $first $second}}
		{{$smaller = $second}}
		{{$bigger = $first}}
	{{end}}
	{{sendMessage nil (cembed
		"title" "Snowflake 2 Timestamp"
		"fields" (cslice
			(sdict "name" "First snowflake" "value" (print "`" ($args.Get 0) "`\nAge: " (humanizeDurationSeconds (currentTime.Sub ($first | .DiscordEpoch.Add)))) "inline" true))
		"footer" (sdict "text" "Date of the snowflake")
		"color" 0xffff00
		"timestamp" ($first | .DiscordEpoch.Add))}}
	{{sendMessage nil (cembed
		"title" "Snowflake 2 Timestamp"
		"fields" (cslice
			(sdict "name" "Second Snowflake" "value" (print "`" ($args.Get 1) "`\nAge: " (humanizeDurationSeconds (currentTime.Sub ($second | .DiscordEpoch.Add)))) "inline" true)
			(sdict "name" "Calc" "value" (print "Time between these two snowflakes:\n" (humanizeDurationSeconds (($bigger | .DiscordEpoch.Add).Sub ($smaller | .DiscordEpoch.Add)))) "inline" false))
		"footer" (sdict "text" "Date of the snowflake")
		"color" 0xffff00
		"timestamp" ($second | .DiscordEpoch.Add))}}
{{end}}