{{/*
	Trigger Type: Regex
	Trigger: \A
	
	Made by Black Wolf#0001
*/}}

{{$user := 0}}
{{with (dbGet 2000 "onewordstory")}}
	{{$user = toInt .Value}}
{{end}}

{{if eq .User.ID $user}}
	{{$x := sendMessageRetID nil (print .User.Mention ", you cannot say a word twice in a row!")}}
	{{deleteMessage nil $x 5}}
	{{deleteTrigger 1}}
{{else}}
	{{if reFind `\A\S+\z` .Message.Content}}
		{{dbSet 2000 "onewordstory" (str .User.ID)}}
	{{else}}
		{{$x := sendMessageRetID nil (print .User.Mention ", make sure to only say one word at a time!")}}
		{{deleteMessage nil $x 5}}
		{{deleteTrigger 1}}
	{{end}}
{{end}}