{{/*
	Trigger Type: Regex
	Trigger: \A
	
	Copyright: 2020 Black Wolf
	License: MIT
	Repository: https://github.com/BlackWolfWoof/yagpdb-cc/
*/}}

{{$user := 0}}{{$char := ""}}
{{$db := dbGet 2000 "wordchain"}}
{{with $db}}
	{{$cslice := cslice.AppendSlice .Value}}
	{{$user = index $cslice 0}}
	{{$char = index $cslice 1}}
{{end}}
{{if $db}}
	{{if eq .User.ID $user}}
		{{$x := sendMessageRetID nil (print .User.Mention ", you send two words in a row!")}}
		{{deleteMessage nil $x 5}}
		{{deleteTrigger 1}}
	{{else}}
		{{with (reFindAllSubmatches `(?i)\A(\w)(?:\S+)?\z` (lower .Message.Content))}}
			{{if eq (index . 0 1) $char}}
				{{with reFindAllSubmatches `(?i)\A\S*(\w)\S?\z` $.Message.Content}}
					{{dbSet 2000 "wordchain" (cslice $.User.ID (index . 0 1|lower))}}
				{{else}}
					{{deleteTrigger 1}}
				{{end}}
			{{else}}
				{{$x := sendMessageRetID nil (print $.User.Mention ", start your word with the letter `" (lower $char) "`!")}}
				{{deleteMessage nil $x 5}}
				{{deleteTrigger 1}}
			{{end}}
		{{else}}
			{{$x := sendMessageRetID nil (print .User.Mention ", start your word with the letter `" (lower $char) "`!")}}
			{{deleteMessage nil $x 5}}
			{{deleteTrigger 1}}
		{{end}}
	{{end}}
{{else}}
	{{with reFindAllSubmatches `(?i)\A\S+(\w)\S?\z` .Message.Content}}
		{{dbSet 2000 "wordchain" (cslice $.User.ID (index . 0 1|lower))}}
	{{else}}
		{{deleteTrigger 1}}
	{{end}}
{{end}}