{{/*
	Trigger Type: Command
	Trigger: autohelp

	Made by Black Wolf#0001
*/}}

{{$x := sendMessageRetID nil (cembed
"title" "Autohelp example"
"color" 0xEBBF0E
"description" `1️⃣ Example 1
2️⃣ Example 2
3️⃣ Example 3
4️⃣ Example 4
5️⃣ Example 5
6️⃣ Example 6
7️⃣ Example 7
8️⃣ Example 8
9️⃣ Example 9`)}}
{{addMessageReactions nil $x "1️⃣" "2️⃣" "3️⃣" "4️⃣" "5️⃣" "6️⃣" "7️⃣" "8️⃣" "9️⃣"}}