{{/*
	Trigger Type: Reaction added

	Note: If you enable this custom command make sure to disable the original CustomCommands command. If you do not know how to do so please watch this tutorial https://i.imgur.com/eAvOR2N.gif
	MAKE SURE THAT NO MORE THAN 4 REACTION CUSTOM COMMANDS ARE RUNNING AT THE SAME TIME OR ELSE iT MIGHT NOT WORK!!!

	Copyright: 2020 Black Wolf
	License: MIT
	Repository: https://github.com/BlackWolfWoof/yagpdb-cc/
*/}}

{{$input := 0}}{{$mid := .Message.ID}}
{{with .Message.Embeds}}{{if $:=(index . 0).Thumbnail}}{{$input = (reFindAllSubmatches `\?type=(.+)\?group=(.+)\?page=(.+)\?max=(.+)\?perms=(.+)$` (reReplace `%20` $.URL " "))}}{{end}}{{end}}
{{if and (eq .Reaction.Emoji.Name "◀️" "▶️") $input}}
	{{$perms := index $input 0 5}}{{$grab := ""}}{{$sdict := sdict}}
	{{if in (split (index (split (exec "viewperms") "\n") 2) ", ") $perms}}
		
		{{$type := index $input 0 1}}
		{{$group := index $input 0 2}}
		{{$page := toInt (index $input 0 3)}}{{if eq .Reaction.Emoji.Name "◀️"}}{{$page = add $page -1}}{{else}}{{$page = add $page 1}}{{end}}
		{{$max := 0}}
		
		{{/*Guild Icon*/}}
		{{$ex := or (and (reFind "a_" .Guild.Icon) "gif") "png"}}{{$icon := print "https://cdn.discordapp.com/icons/" .Guild.ID "/" .Guild.Icon "." $ex "?size=1024"}}

		{{/*Splitting exec cc output and filtering / compiling output*/}}
		{{range (split (exec "cc") "\n`#")}}
			{{- range (reFindAllSubmatches `\s*(\d+):\x60 (?:\x60(.+)\x60: )?(.*) - Group: \x60(.+)\x60` .) -}}
				{{- $out := ""}}{{$t4 := ""}}{{if ne (index . 2) ""}}{{$t4 = "`"}}{{end -}}
				{{- $t1 := print "<:cc_ID:780036580592189460>ID: **[" (index . 1) "](https://yagpdb.xyz/manage/" $.Guild.ID "/customcommands/commands/" (index . 1) "/)**\n<:sendmessage:704342789172887672>Trigger: " $t4 (or (index . 2) "<:cross:705738821110595607>") $t4 "\n<:cc_triggertype:779859347365822505>Trigger Type: **" (or (index . 3) "<:cross:705738821110595607>") "**\n<:cc_group:779859070122721320>Group: **" (index . 4) "**\n\n" -}}
				{{- if ne $group "false" -}}
					{{- if eq (lower (index . 4)) (lower $group) -}}
						{{- $out = $t1 -}}
					{{- end -}}
				{{- else if ne $type "false" -}}
					{{- if eq (or (index . 3) "None") $type -}}
						{{- $out = $t1 -}}
					{{- end -}}
				{{- else -}}
					{{- $out = $t1 -}}
				{{- end -}}
				{{- if ge (add (len $grab) (len $out)) 2000 -}}
					{{- $max = add $max 1 -}}
					{{- $sdict.Set (str $max) $grab -}}
					{{- $grab = $out -}}
				{{- else -}}
					{{- $grab = print $grab $out -}}
				{{- end -}}
			{{- end -}}
		{{end}}
		{{$max = add $max 1}}
		{{$sdict.Set (str $max) $grab}}

		{{/*Output*/}}
		{{editMessage nil $mid (cembed "thumbnail" (sdict "url" (print $icon (reReplace `\s` (print "?type=" $type "?group=" $group "?page=" $page "?max=" $max "?perms=" $perms) `%20`))) "author" (sdict "name" (print "Custom Commands - " .Guild.Name) "icon_url" "https://cdn.discordapp.com/emojis/780080308820901919.png" "url" (print "https://yagpdb.xyz/manage/" .Guild.ID "/customcommands/")) "description" ($sdict.Get (str $page)) "color" 7864168 "footer" (sdict "text" (print "Page: " $page "/" $max)))}}
		{{deleteAllMessageReactions nil $mid}}
		{{if and (ne $page $max) (eq $page 1)}}{{addMessageReactions nil $mid "blank:656125423247425557" "▶️"}}{{end}}
		{{if and (ne $page 1) (eq $page $max)}}{{addMessageReactions nil $mid "◀️" "blank:656125423247425557"}}{{end}}
		{{if and (ne $page $max) (ne $page 1)}}{{addMessageReactions nil $mid "◀️" "▶️"}}{{end}}
	{{else}}
		{{deleteMessageReaction nil $mid .User.ID "◀️" "▶️"}}
		{{addMessageReactions nil $mid "cross:705738821110595607"}}
		{{sleep 3}}
		{{deleteMessageReaction nil $mid 204255221017214977 "cross:705738821110595607"}}
	{{end}}
{{end}}