{{/*
	Trigger type: Command
	Trigger: \A

	Copyright: 2021 Black Wolf
	License: MIT
	Repository: https://github.com/BlackWolfWoof/yagpdb-cc/
*/}}
{{/*NOTE: YOU NEED THE 'sticky message 2 command.gtmpl' CODE FOR THIS TO WORK*/}}
{{$whitelist := false}}
{{/*This enables the whitelist of channels where it should run*/}}
{{$channels := cslice 166207328570441728 384011387132706816}}
{{/*Replace these channel id's with your channels if you have enabled the whitelist*/}}
{{$cooldown := "60s"}}{{/*FORMAT EXAMPLE: "10s" "20m10s" "1mo10d" "3w2h"*/}}
{{/*The cooldown how long the sticky message shouldn't be sent in the same channel*/}}


{{if not $whitelist}}{{$channels = cslice .Channel.ID}}{{end}}
{{if and (dbGet 0 "stickymessage") (dbGet .Channel.ID "smcooldown"|not) (in $channels .Channel.ID)}}
	{{$db := (dbGet 0 "stickymessage").Value}}
	{{$message := cembed "author" (sdict "name" (print "Sticky message by " $db.author) "icon_url" "https://cdn.discordapp.com/emojis/587253903121448980.png") "color" $db.color "description" $db.message}}

	{{if $db := dbGet .Channel.ID "smchannel"}}
		{{deleteMessage nil (toInt $db.Value) 0}}
	{{end}}
	{{$id := sendMessageRetID nil $message}}
	{{dbSet .Channel.ID "smchannel" (str $id)}}
	{{dbSetExpire .Channel.ID "smcooldown" true (toInt (toDuration $cooldown).Seconds)}}
{{end}}