{{/*
	Usage:
	$icon will give you the link of the server icon. It will work for gifs and none animated pictures.

	Made by Black Wolf#0001
*/}}

{{/*Guild Icon*/}}
{{$ex := or (and (reFind "a_" .Guild.Icon) "gif") "png"}}
{{$icon := print "https://cdn.discordapp.com/icons/" .Guild.ID "/" .Guild.Icon "." $ex "?size=1024"}}