{{/*
	Usage:
	Everything bewteen the if and the else will be executed if the user has the permission you configured in the variable.
	Choose bewteen permission check v1 and v2

	v1: Use this if you just need to use the permission check one for the entire custom command
	v2: Use this if you need to check for multiple permissions in the custom command
	different channel: Specify a channel you want to get the permissions of a user from

	Made by Black Wolf#0001
*/}}

{{/*The bot will check if the user has this permission.
Available permissions: Administrator, ManageServer, ReadMessages, SendMessages, SendTTSMessages, ManageMessages, EmbedLinks, AttachFiles, ReadMessageHistory, MentionEveryone, VoiceConnect, VoiceSpeak, VoiceMuteMembers, VoiceDeafenMembers, VoiceMoveMembers, VoiceUseVAD, ManageNicknames, ManageRoles, ManageWebhooks, ManageEmojis, CreateInstantInvite, KickMembers, BanMembers, ManageChannels, AddReactions, ViewAuditLogs*/}}


{{/*Permission Check v1*/}}
{{$perms := "Administrator"}}
{{if (in (split (index (split (exec "viewperms") "\n") 2) ", ") $perms)}}
	{{/*Here you can add the code that will run if the user has the right permissions*/}}
{{else}}
	{{sendMessage nil (cembed "title" "Missing permissions" "description" (print "<:cross:705738821110595607> You are missing the permission `" $perms "` to use this command!") "color" 0xDD2E44)}}
{{end}}



{{/*Permission Check v2*/}}
{{$perms := split (index (split (exec "viewperms" ) "\n" ) 2) ", "}}
{{if in $perms "Administrator"}}
	{{/*Here you can add the code that will run if the user has the right permissions*/}}
{{end}}
{{if in $perms "ManageServer"}}
	{{/*Here you can add the code that will run if the user has the right permissions*/}}
{{end}}



{{/*Permission Check in different channel*/}}
{{$perms := "Administrator"}}{{$channelID := 266290803125518336}}

{{define "perms"}}{{.TemplateArgs.Set "Out" (exec "viewperms")}}{{end}}
{{$permlist := sdict}}{{$v0 := sendTemplate $channelID "perms" $permlist}}


{{if (in (split (index (split $permlist.Out "\n" ) 2) ", ") $perms)}}
	{{/*Here you can add the code that will run if the user has the right permissions*/}}
{{end}}