{{/*
	Usage:
	$color will return the highest role color that the user has in $color.
	It will be the same color as displayed in the chat.

	Made by Black Wolf#0001
*/}}

{{$color := 0}}{{$old := 0}}
{{range .Guild.Roles}}
	{{- if and (in $.Member.Roles .ID) (ne .Color 0) (gt .Position $old)}}
		{{- $old = .Position}}
		{{- $color = .Color}}
	{{- end}}
{{- end}}

{{sendMessage nil (cembed "description" "This is your highest role color" "color" $color)}}