{{/*
	Trigger: dbresetall
	Trigger Type: Command

	Usage:
	dbresetall

	Copyright: 2020 Black Wolf
	License: MIT
	Repository: https://github.com/BlackWolfWoof/yagpdb-cc/
*/}}
{{$perms := "Administrator"}}
{{/*The bot will check if the user has this permission.
Permissions available: Administrator, ManageServer, ReadMessages, SendMessages, SendTTSMessages, ManageMessages, EmbedLinks, AttachFiles, ReadMessageHistory, MentionEveryone, VoiceConnect, VoiceSpeak, VoiceMuteMembers, VoiceDeafenMembers, VoiceMoveMembers, VoiceUseVAD, ManageNicknames, ManageRoles, ManageWebhooks, ManageEmojis, CreateInstantInvite, KickMembers, BanMembers, ManageChannels, AddReactions, ViewAuditLogs*/}}

{{if not .ExecData}}
	{{$prefix := index (reFindAllSubmatches `Prefix of \x60\d+\x60: \x60(.+)\x60` (exec "prefix")) 0 1}}
	{{if (in (split (index (split (exec "viewperms") "\n") 2) ", ") $perms)}}
		{{if eq (len .CmdArgs) 0}}
			{{$cslice := shuffle (cslice "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s" "t" "u" "v" "w" "x" "y" "z")}}
			{{$random := ""}}{{range (seq 0 10)}}{{$r := index (shuffle (cslice 0 1)) 0}}{{if eq $r 1}}{{$random = print $random (upper (index $cslice .))}}{{else}}{{$random = print $random (index $cslice .)}}{{end}}{{end}}
			{{$x := sendMessageRetID nil (cembed "title" "Hold up!" "description" (print "**YOU ARE ABOUT TO RESET THE ENTIRE YAGPDB DATABASE ON THIS SERVER\n\nARE YOU SURE YOU WANT TO DO THIS?**\n**❗There is no going back once you confirmed❗**\n\n__If you still want to proceed type__") "footer" (sdict "text" (print $prefix "dbresetall " $random) "icon_url" "https://cdn.discordapp.com/emojis/650328464825516062.png") "color" 0xBE1931 "thumbnail" (sdict "url" "https://cdn.discordapp.com/emojis/565142262401728512.png"))}}
			{{dbSetExpire .User.ID "dbresetall" (sdict "code" $random "msgid" $x) 60}}
			{{deleteMessage nil $x 60}}
		{{else}}
			{{with (dbGet .User.ID "dbresetall").Value}}
				{{if eq $.StrippedMsg (sdict .).code}}
					{{$x := sendMessageRetID nil (cembed "author" (sdict "icon_url" "https://cdn.discordapp.com/emojis/714051544265392229.gif" "name" "This might take a while...") "description" "Please wait until the command is done running.\n**Do not run dbresetall again until it is finished!**\nYou will be pinged if the reset is done :)" "color" 0xFAA61A)}}
					{{dbDel $.User.ID "dbresetall"}}
					{{execCC $.CCID nil 6 (sdict "id" $x "all" dbCount "time" currentTime)}}
					{{deleteTrigger 1}}
					{{deleteMessage nil .msgid 0}}
				{{else}}
					{{sendMessage nil (print "Wrong code provided. Use `" $prefix "dbresetall` to get a new code")}}
				{{end}}
			{{else}}
				{{sendMessage nil (print "Wrong code provided. Use `" $prefix "dbresetall` to get a new code")}}
			{{end}}
		{{end}}
	{{else}}
		{{sendMessage nil (cembed "title" "Missing permissions" "description" (print "<:cross:705738821110595607> You are missing the permission `" $perms "` to use this command!") "color" 0xDD2E44)}}
	{{end}}
{{else}}
	{{$c := 0}}
	{{if .IsPremium}}
		{{range (dbTopEntries "%" 48 0)}}{{$c = add $c 1}}{{dbDel .UserID .Key}}{{end}}
	{{else}}
		{{range (dbTopEntries "%" 8 0)}}{{$c = add $c 1}}{{dbDel .UserID .Key}}{{end}}
	{{end}}
	{{$sdict := sdict .ExecData}}
	{{$sdict.Set "count" (add $c $sdict.count)}}
	{{editMessage nil .ExecData.id (cembed "author" (sdict "icon_url" "https://cdn.discordapp.com/emojis/714051544265392229.gif" "name" (print "This might take a while... (" (sub .ExecData.all dbCount) "/" .ExecData.all ")")) "description" "Please wait until the command is done running.\n**Do not run dbresetall again until it is finished!**\nYou will be pinged if the reset is done :)" "color" 0xFAA61A)}}
	{{if ne $c 0}}
		{{execCC .CCID nil 6 $sdict}}
	{{else}}
		{{sendMessage nil (complexMessage "content" .User.Mention "embed" (cembed
		"title" "I am done resetting the database! <:wolfyey:664130162023202816>"
		"description" (print "Deleted entries: " $sdict.count "\nExpired time: " (toDuration (print ((currentTime.Sub $sdict.time).Seconds|roundCeil) "s")))
		"color" 0x43B581))}}
		{{deleteMessage nil $sdict.id 0}}
	{{end}}
{{end}}