{{/*
	Trigger Type: Reaction (add)

	Copyright: 2020 Black Wolf
	License: MIT
	Repository: https://github.com/BlackWolfWoof/yagpdb-cc/
*/}}

{{$cid := .Reaction.ChannelID}}{{$mid := .Reaction.MessageID}}{{$en := .Reaction.Emoji.Name}}
{{if eq .Message.Author.ID 204255221017214977}}
	{{if (eq $en "❤️")}}
		{{editMessage $cid $mid (cembed
		"title" "❤️ Example1"
		"description" "This some text you can change"
		"color" 0xde2e43)}}
		{{deleteAllMessageReactions $cid $mid}}
		{{addMessageReactions $cid $mid "❌"}}
	{{else if (eq $en "💡")}}
		{{editMessage $cid $mid (cembed
		"title" "💡 Example2"
		"description" "Idk what to type here so i typed this"
		"color" 0xffd984)}}
		{{deleteAllMessageReactions $cid $mid}}
		{{addMessageReactions $cid $mid "❌"}}
	{{else if (eq $en "🛡️")}}
		{{editMessage $cid $mid (cembed
		"title" "🛡️ Example3"
		"description" "Chill and Play is a good server #selfpromo 😝"
		"color" 0x55acef)}}
		{{deleteAllMessageReactions $cid $mid}}
		{{addMessageReactions $cid $mid "❌"}}
	{{else if (eq $en "❌")}}
		{{editMessage $cid $mid (cembed
		"title" "This is an example page"
		"description" `❤️ Example1
		💡 Example2
		🛡️ Example3`
		"color" 0xe67e22)}}
		{{deleteAllMessageReactions $cid $mid}}
		{{addMessageReactions $cid $mid "❤️" "💡" "🛡️"}}
	{{end}}
{{end}}