{{/*
	Trigger: setup
	Trigger Type: Command

	Made by Black Wolf#0001
*/}}

{{$x := sendMessageRetID nil (cembed
"title" "This is an example page"
"description" `❤️ Example1
💡 Example2
🛡️ Example3`
"color" 0xe67e22)}}
{{addMessageReactions nil $x "❤️" "💡" "🛡️"}}