{{/*
	Trigger type: Reaction (add)

	Copyright: 2020 Black Wolf
	License: MIT
	Repository: https://github.com/BlackWolfWoof/yagpdb-cc/
*/}}
{{/*When using poll as trigger make sure to disable the default poll command here --> https://i.imgur.com/8WlHqyo.gif*/}}

{{$single := false}}{{$c := 0}}{{$c1 := 0}}
{{with .Message.Embeds}}{{with (index . 0).Author}}{{with .IconURL}}{{if reFind `\?single=true` .}}{{$single = true}}{{end}}{{end}}{{end}}{{end}}
{{if $single}}
	{{if .ExecData}}
		{{$r := .ExecData}}
		{{range .Message.Reactions}}
			{{if ne $c 10}}
				{{if and (not .Me)}}
					{{if eq .Emoji.ID 0}}
						{{deleteMessageReaction nil $.Message.ID $.User.ID .Emoji.Name}}
						{{$c = add 1 $c}}
					{{else}}
						{{deleteMessageReaction nil $.Message.ID $.User.ID (print .Emoji.Name ":" .Emoji.ID)}}
						{{$c = add 1 $c}}
					{{end}}
				{{else}}
					{{if ne $r.Emoji.Name .Emoji.Name}}
						{{if eq $r.Emoji.ID 0}}
							{{deleteMessageReaction nil $.Message.ID $.User.ID .Emoji.Name}}
							{{$c = add 1 $c}}
						{{else}}
							{{deleteMessageReaction nil $.Message.ID $.User.ID (print .Emoji.Name ":" .Emoji.ID)}}
							{{$c = add 1 $c}}
						{{end}}
					{{end}}
				{{end}}
			{{end}}
			{{if ne $c1 10}}
				{{cancelScheduledUniqueCC $.CCID (print "poll" $.User.ID)}}
				{{$c1 = add $c1 1}}
			{{end}}
		{{end}}
	{{else}}
		{{scheduleUniqueCC .CCID nil 10 (print "poll" .User.ID) .Reaction}}
	{{end}}
{{end}}